# {{ ansible_managed }}

set fish_greeting

if status is-interactive
    # Commands to run in interactive sessions can go here
end

{% if ansible_facts["os_family"] == "Darwin" %}
# MacOS
set -x HOMEBREW_NO_AUTO_UPDATE "1"
fish_add_path --append /opt/homebrew/bin
fish_add_path --append /opt/homebrew/sbin
{% endif %}

fish_add_path --append $HOME/.local/bin # pipx
fish_add_path --append $HOME/.cargo/bin
fish_add_path --append $HOME/bin

set -x EDITOR "vim"
set -x PAGER "less"
set -x LC_ALL "en_US.UTF-8"
set -x MOSH_SERVER_NETWORK_TMOUT 86400
set -x PASSWORD_STORE_GPG_OPTS "--armor"

alias diff="git diff --no-index"
alias k=kubectl
alias v=nvim

alias checkcert="openssl x509 -text -noout -in"
