# {{ ansible_managed }}

[user]
    name = Julien Laffaye
    email = {{ git_email }}
    useConfigOnly = true

[core]
    preloadIndex = true
    commitGraph = true

[branch]
    autoSetupMerge = true
    autoSetupRebase = always

[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    dc = diff --cached
    lg = log -p
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files
    cia = commit --amend --reset-author
    cb = cleanup-branches
    rbm = !git fetch origin master && git rebase origin/master
    push-new=!"git push --set-upstream origin HEAD:jlaffaye/$(git symbolic-ref HEAD | sed -e 's/^refs\\/heads\\///')"
    checkout-new="!f() { git checkout -b $1 --track origin/jlaffaye/$1; }; f"

[diff]
    indentHeuristic = on
    algorithm = patience
    noPrefix = true
    colorMoved = plain
    colorMovedws = allow-indentation-change

[push]
    default = current

[fetch]
    prune = true

# Allow local customizations in the .gitconfig_local file
[include]
    path = ~/.gitconfig_local
{% if work | default(False) %}
    path = /Users/jlaffaye/.config/dev/gitconfig
{% endif %}
 
